.container-select {
  background-color: #7CA982;
  border-radius: 10px;
  height: 425px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #243E36;
  margin-left: 16px;
  margin-right: 16px;
}

.btn-create {
  text-decoration: none;
  text-align: center;
  color: #F1F7ED;
  font-weight: 500;
  font-size: 28px;
  background-color: #243E36;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #cfc143;
}

.btn-create-game {
  text-decoration: none;
  text-align: center;
  color:  #7CA982;
  border-radius: 10px;
  font-weight: 500;
  font-size: 23px;
  background-color: #243E36;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #F1F7ED;
  margin-bottom: 15px;
}

.container-create {
  background-color: #cfc143;
  font-weight: 600;
  font-size: 20px;
  color: #243E36;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  border-color: #243E36;

  .upload-photo{
    background-color: #7CA982;
    border: 2px solid;
    border-color: #F1F7ED;
    border-radius: 10px;
    height: 160px;
    margin-top: 15px;

    .fa-camera {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}

.games-list{
  color: #243E36;
  font-size: 28px;
  margin-left: 30px;
  font-weight: 550;
}

.logo-index{
  position: center;
  margin-bottom: -8px;
  margin-top: 80px;
}

.deco-list{
  list-style: none;
}

.title-game{
  color: #243E36;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 630;
}

.test-list {
  text-align: center;
  border: 2px solid;
  border-color: #cfc143;
  border-radius: 10px;
  background-color: #F1F7ED;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color:  #7CA982;
  font-weight: 550;
  font-size: 18px;
}

.btn-refresh {
  background-color: #cfc143;
  border: 2px solid;
  border-color: #243E36;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -6px;
}

.container-btn-create {
  margin-bottom: 0px;

  .btn-return{
    text-decoration: none;
    text-align: center;
    color: #F1F7ED;
    font-weight: 400;
    font-size: 20px;
    background-color: #7CA982;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border: 2px solid;
    border-color: #243E36;
    margin-right: 35px;
    margin-bottom: 60px;
  }
}
