.container-select {
  background-color: #7CA982;
  border-radius: 10px;
  height: 370px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #243E36;
  margin-left: 16px;
  margin-right: 16px;
}

.btn-create {
  text-decoration: none;
  text-align: center;
  color: #243E36;
  font-weight: 500;
  font-size: 28px;
  background-color: #C2A83E;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 1px solid;
  border-color: #F1F7ED;
}

.btn-create-game {
  text-decoration: none;
  text-align: center;
  color:  #7CA982;
  border-radius: 10px;;
  font-weight: 500;
  font-size: 23px;
  background-color: #243E36;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 1px solid;
  border-color: #C2A83E;
}

.container-create {
  background-color: #C2A83E;
  font-weight: 600;
  font-size: 20px;
  color: #243E36;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid;
  border-color: #243E36;
}

.games-list{
  color: white;
  font-size: 30px;
}

.logo-index{
  position: center;
  margin-bottom: -8px;
  margin-top: 100px;
}

.deco-list{
  list-style: none;
}

.title-game{
  color: #243E36;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
}
