.container-home {
  h1 {
  color: #F1F7ED;
  font-weight: 700;
  }
  h3 {
  color: #F1F7ED;
  font-weight: 400;
  }
  h4 {
   color: #F1F7ED;
  font-weight: 400
  }
}

.container-elements {
  margin-top: 130px;
}

.logo-home {
  position: center;
  margin-bottom: -9px;
}

.card-title {
  text-decoration: none;
  text-align: center;
  background-color: #243E36;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-left: 16px;
  margin-right: 16px;
  border: 2px solid;
  border-color: #7CA982;
}

.btn-click-to-play {
  text-decoration: none;
  text-align: center;
  color:  #243E36;
  border-radius: 10px;;
  font-weight: 700;
  font-size: 25px;
  background-color: #cfc143;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #F1F7ED;
}
