.container-home {
  h1 {
  color: #F1F7ED;
  font-weight: 700;
  }
  h3 {
  color: #F1F7ED;
  font-weight: 400;
  }
  h4 {
   color: #F1F7ED;
  font-weight: 400
  }
}

.container-elements {
  margin-top: 180px;
}

.logo-home {
  position: center;
  margin-bottom: -8px;
}

.card-title {
  text-decoration: none;
  text-align: center;
  background-color: #7CA982;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid;
  border-color: #243E36;
}
