.container-log-in {
  background-color: #C2A83E;
  font-weight: 600;
  font-size: 20px;
  color: #243E36;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  border-color: #243E36;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 120px;
  h2 {
    color: #F1F7ED;
    font-weight: 500;
    font-size: 35px;
  }
}

.btn-log-in {
  text-decoration: none;
  text-align: center;
  color:  #F1F7ED;;
  border-radius: 10px;;
  font-weight: 500;
  font-size: 25px;
  background-color: #243E36;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #7CA982;
}

.container-btn-log  {
  justify-content: space-between;
  margin-left: 5px;
}

.btn-log {
  text-decoration: none;
  text-align: center;
  color:  #F1F7ED;;
  border-radius: 10px;;
  font-weight: 500;
  font-size: 19px;
  background-color: #243E36;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #7CA982;
}
