
.bg-image{
  position: relative;
}

.battle-area{
  background-color: #cfc143;
  border: 2px solid;
  border-color: #243E36;
  color: #243E36;
}

.btn-chat{
  background-color: #243E36;
}

.chat{
  position: absolute;
  z-index: 10;
  width: 100%;
  color: black;
}

.Qrcode{
  position: fixed;
  left: -1px;
  bottom: 10px;
}

.Qrcode-enfant{
  width: 100%;
  height: inherit;
}

.bottom-container{
  background-color: #cfc143;
  height: 25%;
  border: 2px solid;
  border-color: #F1F7ED;
}

.btn-start-qrcode{
  position: absolute;
  bottom: 70px;
  right: 10px;
  z-index: 100;
  bottom: 111px;
  background-color: #243E36;
  border: 3px solid;
  border-color: #7CA982;
  color: #cfc143;
}

.btn-qrcode-stop{
  width: 15%;
  height: 7%;
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 10px;
  border: none;
  border-radius: 10px;
  background-color: #243E36;
}

.target{
  text-align: center;
}

.photo-player-show{
  border: 3px solid;
  border-color: #243E36;
}

.video-style {
  display: block !important;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scaleX(-1);
  border-radius: 10px;
}
