.container-ongoing {
  background-color: #C2A83E;
  opacity: 0.95;
  text-align: center;
  height: 320px;
  border: 1px solid;
  border-color: #243E36;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;

  p {
  font-weight: 600;
  font-size: 30px;
  background-color: #7CA982;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }
}
