.container-game {
  a {
    display: block;
    margin: 1rem 0;
  }
}

.logo-pages-index {
  margin-bottom: -10px;
}

.btn-mode {
  text-decoration: none;
  text-align: center;
  color: #F1F7ED;
  font-weight: 500;
  font-size: 28px;
  background-color: #243E36;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #7CA982;
}

.logo-pages-index {
  margin-bottom: -25px;
  margin-top: 130px;
  z-index: 1;
}
