.container-game {
  margin-top: 250px;
  a {
    display: block;
    margin: 1rem 0;
  }
}

.btn-mode {
  text-decoration: none;
  text-align: center;
  color: #F1F7ED;
  font-weight: 500;
  font-size: 28px;
  background-color: #7CA982;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 1px solid;
  border-color: #243E36;
}
