
  <div class="navbar">
    <div class="container-fluid">
      <%= link_to "#", class: "navbar-brand" do %>
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://asuracomics.com/wp-content/uploads/2021/03/Group_1.png" />
      <% end %>
      <p>Hide N'Seek</p>
      <%= link_to root_path, class: "text-decoration-none me-1" do %>
        <i class="fa-solid fa-power-off fa-xl" style="color: #7CA982;"></i>
      <% end %>
    </div>
  </div>
