
  <div class="navbar">
    <div class="container-fluid">
      <div class="">
        <% if user_signed_in? %>
          <%= link_to pages_path do %>
          <%= cl_image_tag current_user.photo.key, width: 80, height: 80, crop: :thumb, gravity: :face, class: "avatar", aria_haspopup: "true", aria_expanded: "false" %>
          <% end %>
        <% end %>
        <%# <img class="avatar dropdown" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://asuracomics.com/wp-content/uploads/2021/03/Group_1.png" /> %>
      </div>
      <p>Hide N'Seek</p>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "text-decoration-none me-1" do %>
          <i class="fa-solid fa-power-off fa-xl" style="color: #7CA982;"></i>
          <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "text-decoration-none me-1" do %>
          <i class="fa-solid fa-power-off fa-xl" style="color: #7CA982;"></i>
          <% end %>
      <% end %>
    </div>
  </div>
