<div class="star-scroll">
  <div class="star-scroll__stars"></div>
	<div class="star-scroll__text">
		<hgroup>
			<h1>Remerciements<h1>
			<h2>Hide N'Seek</h2>
		</hgroup>

		<p>Luke Skywalker has vanished. In his absence, the sinister FIRST ORDER has risen from the ashes of the Empire and will not rest until Skywalker, the last Jedi, has been destroyed.</p>

		<p>With the support of the REPUBLIC, General Leia Organa leads a brave RESISTANCE. She is desperate to find her brother Luke and gain his help in restoring peace and justice to the galaxy.</p>

		<p>Leia has sent her most daring pilot on a secret mission to Jakku, where an old ally has discovered a clue to Luke&apos;s whereabouts&hellip;</p>
	</div>
</div>
<div class="star-scroll__shadow"></div>
<div id="canvas_container"></div>
