<% if user_signed_in? %>
  <h1>Bonjour</h1>
<% else %>
  <h1>Connecte toi</h1>
<% end %>

<%= link_to "Connexion", new_user_session_path %>
<%= link_to "Deconnexion", destroy_user_session_path %>
<%= link_to "Sign_up", new_user_registration_path %>
