<div class="container-home">
  <div class="container-elements">
    <div class="d-flex justify-content-center">
      <%= image_tag "logo-home.png", height: 80, class: "logo-home"%>
    </div>
    <div class="card-title">
      <% if user_signed_in? %>
        <div>
          <%= link_to pages_path, class: "text-decoration-none" do%>
            <h1>Hide N'Seek</h1>
            <h3>The world is your playground</h4>
            <h4>Let your inner child run free</h6>
            <button class="btn-click-to-play">Click to Play!</button>
          <% end %>
        </div>
      <% else %>
        <div>
          <%= link_to pages_path, class: "text-decoration-none" do %>
            <h1>Hide N'Seek</h1>
            <h3>The world is your playground</h4>
            <h4>Let your inner child run free</h6>
            <button class="btn-click-to-play">Play!</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
