<div class="d-flex justify-content-center">
  <%= image_tag "logo-home.png", height: 80, class: "logo-pages-index"%>
</div>
<div class="container container-game">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= link_to "One vs One", games_path, class: "btn-mode" %>
    </div>
    <div class="col-10">
      <%= link_to "Multi-players", "#", class: "btn-mode" %>
    </div>
    <div class="col-10">
      <%= link_to "Event", "#", class: "btn-mode" %>
    </div>
  </div>
</div>
