  <ol>
    <% @games.each do |game| %>
    <div class="d-flex">
      <li>
        <%= link_to game_path(game) do %>
          <%= game.id %>
        <% end %>
          <%= game.name %>
      </li>
    </div>
    <% end %>
  </ol>
