<div class="">
  <ol>
    <% @games.sort_by { |obj| -obj.id }.each do |game| %>
    <li>
      <div class="d-flex">
        <%= link_to join_game_path(game), data: {turbo_method: "PATCH"} do %>
          <%= game.name %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ol>
</div>
