<div class="">
  <h3 class="title-game">Games list:</h3>
  <ol class="deco-list">
    <% @games.sort_by { |obj| -obj.id }.each do |game| %>
    <li>
      <div class="d-flex">
        <%= link_to join_game_path(game), data: {turbo_method: "PATCH"}, class: "text-decoration-none games-list" do  %>
          <%= game.name %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ol>
</div>
