<div class="mb-1 upload-photo text-black ps-3 pe-3 position-relative">
  <i class="d-flex fa-solid fa-camera justify-content-center" style="color: #243E36"></i>
  <p class="mb-5 text-center h4 mt-2">Tap to add your selfie</p>
  <img src="" alt="lolz" class="d-none bottom-0 end-0 h-100 position-absolute start-0 top-0 w-100 object-fit-cover rounded-3 z-50" data-preview-photo-target="preview">
</div>
