<div class="mb-4 border-dotted border border-black mt-4 upload-photo text-black ps-3 pe-3">
  <i class="mt-4 mb-1 d-flex fa-solid fa-camera justify-content-center" style="color: black"></i>
  <p class="mb-5 text-center h4 mt-3">Tap to add your selfie</p>
</div>
