<h1>Bonjour</h1>
<ol>
  <% @games.each do |game| %>
    <%= link_to game_path(game) do %>
      <li>Nom de la partie: <%= game.name %> Mode de jeu: <%= game.mode %></li>
    <% end %>
  <% end %>
</ol>
