.navbar{
  height: 8%;
  border-bottom: 2px solid;
  border-color: #7CA982;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #243E36;
  font-family: Mali;
  h1 {
    color: white;
    font-weight: 400;
  }
  p {
    color: #7CA982;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 7px;
    margin-left: -5px;
  }
}

#navbarDropdown {
  margin-bottom: 5px;
  margin-left: 2px;
  border: 2px solid;
  border-color: #7CA982;
}

.btn-home {
  margin-bottom: 5px;
  border: 2px solid;
  text-decoration: none;
}
